<!-- =================== CONTAINER====================== -->
<div class="tunnelConfirmation__container">
    <!-- =================== RECAP COMMANDE LIVRAISON ====================== -->
    <!--  <div class="card  tunnel__block mb20">
        <p class="mb20">Votre commande <span class="text-muted">#2376832</span> vous sera livr&eacute; d'ici le <strong>Lundi 24 mars</strong></p>
        <div class="row">
            <div class="col-md-6 ">
                <div class="livraison__info">
                    <img src="/web/images/picto_livraison.png" alt="">
                    <span>Votre livraison est prévu à partir du 24/03/2017</span>
                    <p>Le magasin qui prépare votre commande prendra contact avec vous <strong>sous 2 jours</strong> pour convenir des détails liés à la livraison.
                    </p>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="livraison__question">
                    <img src="/web/images/picto_phone2.png" alt="">
                    <span>Une question ?</span>
                    <p>Contacez nous au <strong>02 43 25 20 52</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div> -->
    <!-- =================== END OF RECAP COMMANDE LIVRAISON====================== -->
    <!-- ===================  RECAP COMMANDE DRIVE====================== -->
    <div class="card  tunnel__block mb20">
        <p class="mb20">Votre commande <span class="text-muted">#2376832</span> vous sera disponible dans votre magasin : <strong>Lapeyre Le Mans</strong>
            <br> et est &agrave; venir chercher le :<strong>Lundi 24 mars</strong></p>
        <img src="/Web/images/map.png" style="width: 100%;">
    
    
                <p class="mt20"><strong>Lorsque vous venez r&eacute;cuperer votre commande :</strong></p>
           
            <div class="col-md-12 mt20 confirmation__print">
                <div class="col-md-8">
                    <p>N'OUBLIEZ PAS D'IMPRIMER</p>
                    <span>Votre bon de commande</span>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary"><i class="fa fa-print" aria-hidden="true"></i> Imprimer</button>
                </div>
            </div>
            <div class="col-md-12 mt20 confirmation__id-card">
                <img src="/web/images/picto_card.png">
                <p class="inline">Pensez &agrave; prendre un papier d'identit&eacute;</p>
            </div>
     
        <div class="clear"></div>
    </div>
    <!-- ===================  END OF RECAP COMMANDE DRIVE====================== -->
    <div class="row">
        <!-- =================== INFORMATIONS CLIENTS ====================== -->
        <div class="col-md-12 ">
            <div class="tunnel__block">
                <h2>Informations clients</h2>
                <div class="row">
                    <!-- =================== ADRESSE DE LIVRAISON A COMMENTER SI CONFIRMATION DRIVE ====================== -->
                    <!-- <div class="col-md-4">
                        <h5>Adresse de livraison</h5>  
                        {#{% include 'storeWidgets/blocAdresseConfirmationUI/blocAdresseConfirmationUI.twig' %}#}
                    </div>-->
                    <div class="col-md-4">
                        <h5>Adresse de facturation</h5>
                        <div class="livraison__adress facturation-adress">
                            <span>Anne Sophie Maison</span>
                            <p>1 Boulevard Richard Lenoir
                                <br> 75011 Paris</p>
                            <p class="adress__tel">01 43 25 20 52</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5>Méthode de paiement</h5>
                        <img src="/web/images/picto_cb.png">
                        <p class="inline">Carte bancaire X-213</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =================== END OF INFORMATIONS CLIENTS ====================== -->
    <div class="row">
        <div class="col-md-12 text-center mt20">
            <div class="col-md-6 ">
                <a href="#">
                    <p class="pull-right p__go-home">
                        <img src="/web/images/picto_arrow-left.png" style='width: 15px; margin-right: 5px;'> Retour à l'accueil</p>
                </a>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary pull-left">Imprimer cette page</button>
            </div>
        </div>
    </div>
</div>
<!-- =================== END OF CONTAINER====================== -->