<div class="row">
    <div class="livraison__container">
        <h4>Choisir votre horaire de retrait</h4>
        <p>Votre commande est disponible &agrave; partir du 24/07/2017</p>
        <div class="calendar__container">
            <!-- <img src="/web/images/calendar.png" style="width: 100%;" alt=""> -->
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <p class="cell__header">Lundi 24/04</p>
                        <p class="cell__hour" onclick="cellIsActive()">9h30</p>
                        <p class="cell__hour" onclick="cellIsActive()">11h30</p>
                        <p class="cell__hour" onclick="cellIsActive()">14h30</p>
                        <p class="cell__hour" onclick="cellIsActive()">17h30</p>
                    </div>
                    <div class="col-md-3">
                        <p class="cell__header">Lundi 24/04</p>
                        <p class="cell__hour" onclick="cellIsActive()">9h30</p>
                        <p class="cell__hour" onclick="cellIsActive()">11h30</p>
                        <p class="cell__hour" onclick="cellIsActive()">14h30</p>
                        <p class="cell__hour" onclick="cellIsActive()">17h30</p>
                    </div>
                    <div class="col-md-3">
                        <p class="cell__header">Lundi 24/04</p>
                        <p class="cell__hour" onclick="cellIsActive()">9h30</p>
                        <p class="cell__hour" onclick="cellIsActive()">11h30</p>
                        <p class="cell__hour" onclick="cellIsActive()">14h30</p>
                        <p class="cell__hour" onclick="cellIsActive()">17h30</p>
                    </div>
                    <div class="col-md-3">
                        <p class="cell__header">Lundi 24/04</p>
                        <p class="cell__hour" onclick="cellIsActive()">9h30</p>
                        <p class="cell__hour" onclick="cellIsActive()">11h30</p>
                        <p class="cell__hour" onclick="cellIsActive()">14h30</p>
                        <p class="cell__hour" onclick="cellIsActive()">17h30</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>