<div class="row">
    <div class="livraison__container">
        <h4>Choisir votre horaire de retrait</h4>
        <p>Votre commande est disponible &agrave; partir du 24/07/2017</p>
        <div class="calendar__container">
            <!-- <img src="/web/images/calendar.png" style="width: 100%;" alt=""> -->
            <div id="calendar" class="mt20">
                <div class="calendar__column">
                    <div class="calendar__day">Lundi <strong> 24/04</strong></div>
                    <div class="calendar__hour is-unavailable">
                        09h30
                    </div>
                    <div class="calendar__hour is-unavailable">
                        11h30
                    </div>
                    <div class="calendar__hour is-unavailable">
                        13h30
                    </div>
                    <div class="calendar__hour">
                        15h30
                    </div>
                    <div class="calendar__hour">
                        17h30
                    </div>
                  
                </div>
                <div class="calendar__column">
                    <div class="calendar__day">Mardi<strong> 25/04</strong></div>
                    <div class="calendar__hour">
                        09h30
                    </div>
                    <div class="calendar__hour">
                        11h30
                    </div>
                    <div class="calendar__hour">
                        13h30
                    </div>
                    <div class="calendar__hour">
                        15h30
                    </div>
                    <div class="calendar__hour">
                        17h30
                    </div>
                   
                </div>
                <div class="calendar__column">
                    <div class="calendar__day">Mercredi<strong> 26/04</strong></div>
                    <div class="calendar__hour">
                        09h30
                    </div>
                    <div class="calendar__hour">
                        11h30
                    </div>
                    <div class="calendar__hour">
                        13h30
                    </div>
                    <div class="calendar__hour">
                        15h30
                    </div>
                    <div class="calendar__hour">
                        17h30
                    </div>
                   
                </div>
                <div class="calendar__column">
                    <div class="calendar__day">Jeudi<strong> 27/04</strong></div>
                    <div class="calendar__hour">
                        09h30
                    </div>
                    <div class="calendar__hour">
                        11h30
                    </div>
                    <div class="calendar__hour">
                        13h30
                    </div>
                    <div class="calendar__hour">
                        15h30
                    </div>
                    <div class="calendar__hour">
                        17h30
                    </div>
                   
                </div>
                <div class="calendar__column">
                    <div class="calendar__day">Vendredi<strong> 28/04</strong></div>
                    <div class="calendar__hour">
                        09h30
                    </div>
                    <div class="calendar__hour">
                        11h30
                    </div>
                    <div class="calendar__hour">
                        13h30
                    </div>
                    <div class="calendar__hour">
                        15h30
                    </div>
                    <div class="calendar__hour">
                        17h30
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</div>