<!-- =================== CONTAINER====================== -->
<div class="panier__container">
    <div class="card panier__content ">
        <div class="row">
            <div class="col-md-8">
                <h2 class="inline">Panier</h2>
                <p class="inline">(4 articles)</p>
            </div>
            <div class="col-md-4">
                <p class="inline">Etats des stocks <i class="fa fa-question-circle" aria-hidden="true"></i></p>
                <select class="form-control inline " id="exampleSelect1">
                    <option>95220 - Lapeyre d'Oie</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <!-- =================== PRODUCT====================== -->
        <div class="panier__product">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="col-md-3 panier__product__thumb">
                        <img src="/web/images/product_thumb-md.png" alt="">
                    </div>
                    <div class="col-md-3 panier__product__desc">
                        <p class="small text-muted">Ref.123456</p>
                        <p><strong>Bloc-Porte palier coupe feu ch&ecirc;ne &agrave; vernir</strong></p>
                        <p class="small  mt10">Largeur: 120 cm
                            <br> Hauteur: 50 cm
                            <br> Sens d'ouverture : Int&eacute;rieur
                            <br> Finition: ch&ecirc;ne gris</p>
                        <p class="small mt10 text-green"><i class="fa fa-circle" aria-hidden="true"></i> En stock</p>
                    </div>
                    <div class="col-md-2 panier__product__price">
                        <p class="text-muted">129,00€</p>
                    </div>
                    <div class="col-md-2 panier__product__add">
                        <div class="product__add">
                            <a href="#"><span class="pull-left">-</span></a>
                            <span>1</span>
                            <a href="#"><span class="pull-right">+</span></a>
                        </div>
                        <div class="clear"></div>
                        <a href="#" class="text-muted">
                            <p>Supprimer</p>
                        </a>
                    </div>
                    <div class="col-md-2 panier__product__total-price">
                        <p>89,00 €</p>
                        <p class="text-muted">
                            <del>129,00 €</del>
                        </p>
                        <p class="text-muted">soit 1m <sup>2</sup></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- =================== END OF PRODUCT====================== -->
        <!-- =================== PRODUCT====================== -->
        <div class="panier__product bt0">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 panier__product__thumb">
                        <img src="/web/images/product_thumb-md2.png" alt="">
                    </div>
                    <div class="col-md-3 panier__product__desc">
                        <p class="small text-muted">Ref.123456</p>
                        <p><strong>Paroi de douche grand espace</strong></p>
                        <p class="small  mt10">Largeur: 100 cm
                        </p>
                        <p class="small mt10 text-orange"><i class="fa fa-circle" aria-hidden="true"></i> Disponible</p>
                    </div>
                    <div class="col-md-2 panier__product__price">
                        <p class="text-muted">44,00€</p>
                    </div>
                    <div class="col-md-2 panier__product__add">
                        <div class="product__add">
                            <a href="#"><span class="pull-left">-</span></a>
                            <span>3</span>
                            <a href="#"><span class="pull-right">+</span></a>
                        </div>
                        <div class="clear"></div>
                        <a href="#" class="text-muted">
                            <p>Supprimer</p>
                        </a>
                    </div>
                    <div class="col-md-2 panier__product__total-price">
                        <p>132,00 €</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- =================== END OF PRODUCT====================== -->
        <div class="row">
            <div class="col-md-12 p0 mt20">
                <div class="col-md-6">
                    <div class="panier__code-avantage">
                        <form class="form-inline">
                            <div class="form-group">
                                <img src="/web/images/picto_gift.png" alt="">
                                <p class="inline">Code avantage ?</p>
                                <label class="sr-only"></label>
                            </div>
                            <div class="form-group mx-sm-3">
                                <label for="inputPassword2" class="sr-only">Password</label>
                                <input type="text" class="form-control" id="inputPassword2" placeholder="Votre code ...">
                            </div>
                            <button type="submit" class="btn btn-primary">Appliquer</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
            <div class="panier__total__content">
                        <p class="pull-left">Sous-total TTC</p>
                    <p class="pull-right text-right">178,80€
                        <br> <span class=" small text-muted">dont 2,30€ d’&eacute;co-participation</span>
                    </p>
                    <div class="clear"></div>
                    <p class="pull-left">T.V.A (incluse)</p>
                    <p class="pull-right">44,20€</p>
                    <div class="clear"></div>
                    <div class="separator"></div>
                    <div class="form-group pull-left ">
                        <label class="custom-control custom-radio pull-left">
                            <input type="radio" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Retrait en Drive - 0€</span>
                        </label>
                    </div>
                    <p class="pull-right">0€</p>
                    <div class="clear"></div>
                    <div class="form-group ">
                        <label class="custom-control custom-radio mt0">
                            <input type="radio" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Livraison &agrave; domicile - 30€</span>
                        </label>
                    </div>
                    <div class="separator"></div>
                    <p class="pull-left">TOTAL TTC</p>
                    <p class="pull-right"><strong>221,00€</strong></p>
                    <div class="clear"></div>
                    <button class="btn btn-primary col-md-12 mt20"><i class="fa fa-lock" aria-hidden="true"></i> Valider ma commande</button>
                    <div class="clear"></div>
            </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =================== END OF CONTAINER====================== -->