<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Confirmation Commande</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="css/style.css" rel="stylesheet">
</head>

<body class="bg-faded">
    {% block content %} {% endblock %}
        <script src="/node_modules/jquery/dist/core.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="js/plugins/plugins.js"></script>
    <script type="text/javascript" src="/web/js/agenda.js"></script>
</body>

</html>