<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Livraison à domicile</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/node_modules/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/node_modules/slick-carousel/slick/slick-theme.css" />
    <link href="css/style.css" rel="stylesheet">
</head>

<body class="bg-faded">
    {% block content %} {% endblock %}
    <!-- <script src="/node_modules/jquery/dist/core.js"></script> -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/node_modules/slick-carousel/slick/slick.js"></script>
    <script type="text/javascript" src="/web/js/agenda.js"></script>
</body>

</html>