<div class="tunnel__hero text-center">
    <div class="hero__content">
        <img src="/web/images/picto_check.png" class="picto" alt="">
        <h1 class="inline">Merci pour votre commande</h1>
        <p>Vous allez recevoir un mail recapitulatif dans quelques instants</p>
    </div>
    <img src="/web/images/hero_1.png" class="confirmation__hero__img">
</div>