.calendar__container {
    text-align: center;
}

.calendar__day {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid $brand-color;
    strong {
        margin-left: 5px;
    }
}

.calendar__hour {
    background-color: $bkg-light;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 13px;
}
.calendar__hour:hover {
    background-color: $brand-color;
    color: #FFF;
}

.hour-is-active {
    background-color: $brand-color;
    color: #FFF;
}

.calendar__column {
    width: 50% !important;
}

.is-unavailable {
    border: 1px solid $bkg-light  !important;
    background-color: #FFF !important;
    color: $bkg-light !important;
}