
.card, .card-header, .card-header:first-child {
  border-color: $color-border-light;
  border-radius: 0;
}
.card{
  margin-top: 20px;
}
.card{
  background-color: #FFF;
}


.tunnel__block{
    padding:30px;
    background-color: #FFF;
    h2{
      margin-top: 0;
    }
  }